<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.1.xsd">
			
	<sec:http auto-config="true">
    	<sec:intercept-url pattern="/main.html" access="ROLE_USER"/>
    	<sec:intercept-url pattern="/admin.html" access="ROLE_ADMIN"/>
    	<sec:form-login 
        	login-page="/login.html"
        	authentication-success-handler-ref="postSuccessAuthHandler"
        	authentication-failure-url="/login.html?login_error=1" 
        />
        <sec:remember-me/>
        <sec:logout logout-success-url="/login.html"/>
	</sec:http>
 	
	<sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider>
        	<sec:jdbc-user-service data-source-ref="dataSource"
		   		users-by-username-query="
		      		select username, password, enabled 
		      		from users where username=?" 
		   		authorities-by-username-query="
		      		select u.username, ur.authority from users u, user_roles ur 
		      		where u.user_id = ur.user_id and u.username =?" 
			/>
        </sec:authentication-provider>
    </sec:authentication-manager>
    
    <bean id="postSuccessAuthHandler" class="com.mercury.security.PostSuccessfulAuthenticationHandler">
	    <property name="defaultTargetUrl" value="/hello.html" />
	    <property name="alwaysUseDefaultTargetUrl" value="true" />
	</bean>
</beans>